body{

    font-family: 'Source Code Pro', monospace;
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #D8D9CF;
    /* background-color: rgb(10, 100, 100); */
}


#parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border-width: 2rem;
}
#menu{

    width: 15rem;
    border: 2px solid black;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
#container{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 6px 6px 3px;

    border-left: 1px solid black;
    border-top: 1px solid black;

}
#container-parent{
    margin: 2rem;
    border: 3px solid black;
}
button{
    font-family: 'Source Code Pro';
    border: 1px solid #352F44;
    margin: 10px;
    border-radius: 2rem;
}

#colorInp{
    border: 1px solid black;
    padding: 1px;
}
.rowDiv {
    display: flex;
    flex-direction: row;    
    flex-grow: 1;
}

#colorPicker{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.columnDiv {

    flex-grow: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}




